extends ../layout
block content
	.container
		div
			div.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
				h4#myModalLabel.myModalLabel 登录
			form(method='post',action='/signon')
				div.modal-body
					.form-group
						label(for="exampleInputEmail1") 用户名
						input(type="text" class="form-control" name="user[name]" id="exampleInputEmail1" placeholder="id")
					.form-group
						label(for="exampleInputEmail1") 密码
						input(type="text" class="form-control" name="user[password]" id="exampleInputEmail1")
					
				div.modal-footer
					button(type="button" class="btn btn-default" data-dismiss="modal") close
					button(type="submit" class="btn btn-primary") 登录