extends ../layout
block content
	.container
		table.table.table-bordered
			thead
				tr
					td id
					td name
					td 密码
					td role
			tbody
				each user_s in user
					tr
						td #{user_s._id}
						td #{user_s.name}
						td #{user_s.password}
						td #{user_s.role}